//----header
include top.pug
include header.pug 
//------content
div.container.content-wrapper
  div.row
    div.col-md-9
      ul
        each post in posts
          li.well
            div.row
              div.col-md-12
                h2.heading
                  a(href="/profile/"+ post.author +"/post/"+post._id)= post.title
                  a.pull-right.badge.btn-success(href="/profile/"+ post.author)= post.author
            div.row
              div.col-md-12.post-text
                div !{post.preview}
                span.createTime= moment(post.createTime).format('DD MMMM YYYY')
                span.com-count="Комментариев: "+ post.comments.length
    div.col-md-3
      span Для входа как boby
      p (nickname: boby/password: boby)
      a(href="https://github.com/ZackFox/nodeTodoTasks") Репозиторий проекта на GitHub :
//----footers
include footer.pug









    