div.pages
  -var i = 1 
  -var nums = paginationLimit // set up in config.js
  -var offset = nums 

  if (pages < nums)
    -nums = pages

  if (pageNumber >= (pages - nums)+1)
    -i = (pages - nums)+1
    -offset = pages
  else
    -i= pageNumber
    -offset = (pageNumber + offset)-1

  ul.pagination
    //--button prev
    li
      if pageNumber > 1
        a.btn(href="/?page="+(pageNumber - 1))= "назад"
      else
        a.btn.disabled(href="/")= "назад"
    
    -for(i; i <= offset ; i++)
      if (pageNumber === i)
        li  
          span.active=i
      else
        li
          a.btn(href="/?page="+i)=i
  
    //---button next
    li
      if (pageNumber < pages)
        a.btn(href="/?page="+(pageNumber + 1))= "вперед"
      else
        a.btn.disabled(href="/")= "вперед"