//----header
include top.pug
link(href="/js/dist/summernote.css" rel="stylesheet")
include header.pug 
//------content       
div.container.content-wrapper     
  div.row.post-block
    div.col-md-2
      a(href="/profile/"+ post.author)
        img.img-polaroid(src="/img/blank_avatar.jpg" width="100")
        span  #{post.author}
      
    div.col-md-8
      div.row
        h3.post-title= post.title
      div.row 
        div.post-text !{post.text}

  div.row
    div.col-md-10.col-md-offset-1.com-blockp 
      p Комментариев: #{post.comments.length}
      if session.user
        div.comment-item
          p новый коментарий
          div.empty-reply
          a.reply-send(href="/" data-csrf=token data-url=url data-author=session.user.nickname) Отправить
      else
        p Авторизируйтесь, чтобы оставить комментарий

      ul.replies-container
        each com in post.comments
          li.comment-item
            div.com-head
              a.com-author(href="/profile/"+com.author)= com.author
              span.com-date= moment(com.createTime).format('DD MMMM YYYY')
              if session.user && com.author === session.user.nickname
                a.com-edit(href="/") Изменить
                a.com-cancel(href="/" ) Отмена
                a.com-save(href="/" data-csrf=token data-url=url data-reply-id=com._id) Сохранить

            div.com-body.clearfix
              div.com-text-container !{com.text}
              
              if session.user
                a.com-reply(href="/") Ответить
              if session.user && com.author === session.user.nickname
                a.com-delete(href="/" data-csrf=token data-url=url data-reply-id=com._id) Удалить
    
//----footers
include footer.pug
script(src="/js/dist/summernote.min.js")
script(src="/js/editor.js")









    