//----header
include top.pug
include header.pug 
//------content       
div.container.content-wrapper     
  div.row.post-block
    div.col-md-2
      a(href="/profile/"+ post.author)
        img.img-polaroid(src="/img/blank_avatar.jpg" width="100")
        span  #{post.author}
      
    div.col-md-8
      div.row
        h3.post-title= post.title
      div.row
        p= post.text

  div.row
    div.col-md-10.col-md-offset-1.com-blockp 
      p Комментариев: #{post.comments.length}            
      if session.user
        div.comment-item            
          p новый коментарий
          form.comment-form(action="/profile/"+post.author+"/post/"+post._id+"/comment" method="post")            
            input(type="hidden" id="csrf" name="_csrf"  value=token)
            input(type="hidden"  name="author" value=session.user.nickname)        
            textarea.text-area(name="comment")
            input(type="submit" value="Добавить комментарий")
      else
        p Авторизируйтесь, чтобы оставить комментарий

      ul
        each com in post.comments
          li.comment-item
            div.com-head
              a.com-author(href="/profile/"+com.author)= com.author
              span.com-date= moment(com.createTime).format('DD MMMM YYYY')
              if session.user && com.author === session.user.nickname
                a.com-update(href="/profile/"+post.author+"/post/"+post._id +"/comment/"+com._id) Изменить

            div.com-body
              p.com-text= com.text
              a(href="/") Ответить
              
              if session.user && com.author === session.user.nickname
                a.com-delete(href="/profile/"+post.author+"/post/"+post._id +"/comment/"+com._id) Удалить
    
//----footers
include footer.pug









    