
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link href="/js/summernote/summernote.css" rel="stylesheet">
  </head>
  <body>
    <% include ../partials/header %>
    
    <div class="container h-100">
        <div class="row d-flex post-block">
          <div class="col-md-3">
            <div class="profile-card">
              <div class="profile-avatar">              
                <img src="/img/<%= post.author.avatar %>" />               
              </div>            
              <a href="/profile/<%= post.author.nickname  %>"  class="profile-name"><%= post.author.username %> @<%= post.author.nickname %></a>              
            </div>            
          </div>
          <div class="col-md-9">
            <div class="post-content">            
              <div class="post-header">
                <h3 class="post-title"><%= post.title %></h3>
              </div>
              
              <div class="post-text"><%- post.text %></div>
              <% if (session.user && post.author.nickname === session.user.nickname) { %>
                <a class="post-delete" href="/" data-csrf="<%= token %>" data-url="<%= url %>">Удалить</a> 
              <% } %>
              
              <div class="post-bottom">
                <span class="comments">Комментариев: <%= post.commentsCount %></span> 
                <% if (session.user) { %>                    
                  <a href="/" id="btn-like" class="button-like <%= isLiked ? "liked" : '' %>" 
                    data-csrf="<%= token %>" data-liked="<%= isLiked %>" >
                      <i class="fa <%= isLiked ? 'fa-heart' : 'fa-heart-o' %>"></i> 
                      <span class="likeCount"><%= post.likesCount %></span>
                  </a>
                <% } else { %>
                  <span class="button-like" ><i class="fa fa-heart-o"></i>
                    <span class="likeCount"><%= post.likesCount %></span>
                  </span>
                <% } %>
              </div>
            </div>                  
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-offset-2 col-md-8 com-block">            
            <% if (session.user) { %>
              <div class="comment-item">
                <p>новый коментарий</p> 
                <div class="empty-reply"></div> 
                <a class="reply-send" href="/" data-csrf="<%= token %>" 
                  data-url="<%= url %>" data-author="<%= session.user._id %>">
                  Отправить
                </a>             
              </div>
            <% } else { %>
              <p> Авторизируйтесь, чтобы оставить комментарий </p> 
            <% } %>
            
            <ul class="replies-container">
              <% for(let com of comments) {%>
                <li class="comment-item">
                  <div class="com-head" >
                    <a class="com-author" href="/profile/<%= com.author.nickname %>"><%= com.author.username %></a> 
                    <span class="com-date"><%= moment(com.createTime).format('DD MMMM YYYY') %></span>  
                    <% if (session.user && com.author.nickname === session.user.nickname) { %>
                      <a href="/" class="com-edit" >Изменить</a> 
                      <a href="/" class="com-cancel" >Отмена</a> 
                      <a href="/" class="com-save" data-csrf="<%= token %>" data-url="<%= url %>" data-reply-id="<%= com._id %>">
                        Сохранить
                      </a>
                    <% } %>
                    <div class="com-body clearfix">
                      <div class="com-text-container"><%- com.text %></div> 
                      
                      <% if (session.user) { %>
                        <!-- <a class="com-reply" href="/">Ответить</a>  -->
                        <% if (session.user && com.author.nickname === session.user.nickname) { %>
                          <a class="com-delete" href="/" data-csrf="<%= token %>" data-url="<%= url %>" data-reply-id="<%= com._id %>">
                            Удалить
                          </a> 
                        <% } %>
                      <% } %>
                    </div>
                  </div>
                </li>
              <% } %>    
            </ul>
          </div>                    
        </div>
      </div>
    

    <% include ../partials/footer %>
    <% include ../partials/scripts %>
    <script src="/js/summernote/summernote.min.js"></script>
    <script src="/js/editor.js"></script>
  </body>
</html>









    