
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    <div class="profile-header">
      <div class="container">
        <div class="col-md-2 profile-avatar">
          <img class="" src="/img/<%= user.avatar %>" width="100") />               
          <% if (isOwn) { %>
            <a href="/profile/<%= user.nickname %>/edit" >редактировать</a> 
          <% } %>
        </div> 
        <div class="col-md-10">
          <h2><%= user.username %> @<%= user.nickname %></h2>               
          <ul class="profile-stats">
            <li>
              <p>Постов:</p> 
              <span><%= user.postsCount %></span>
            </li>
            <li>
              <p>Подписчики:</p> 
              <span>0</span> 
            </li>
            <li>
              <p>Читает:</p> 
              <span>0</span> 
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container content-wrapper">
      <div class="row">
        <div class="col-md-8">
          <ul class="posts-list">
            <% for(let post of posts) {%>
              <% include ../partials/postItem %>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>    
  </body>
</html>