
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    <div class="profile-header">
      <div class="container">
        <div class="col-md-2 profile-avatar">
          <img class="" src="/img/<%= user.avatar %>" width="100") />               
          <% if (isOwn) { %>
            <a href="/profile/<%= user.nickname %>/edit" >редактировать</a> 
          <% } %>
        </div> 
        <div class="col-md-10">
          <h2><%= user.username %>(@<%= user.nickname %>)</h2>               
          <ul class="profile-stats">
            <li>
              <p>Постов:</p> 
              <span><%= user.postsCount %></span>
            </li>
            <li>
              <p>Подписчики:</p> 
              <span>0</span> 
            </li>
            <li>
              <p>Читает:</p> 
              <span>0</span> 
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container content-wrapper">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <ul class="posts-list">
            <% for(let post of posts) {%>
              <li class="post-item">
                  <div class="post-author">
                      <a href="/profile/<%= post.author.nickname %>" class="">
                        <img src="/img/<%- post.author.avatar %>">
                        <p><%= post.author.username %> </p>
                      </a> 
                  </div>                                                              
                  <div class="post-content">                  
                    <div class="post-header">
                      <a href="/profile/<%= post.author.nickname %>/post/<%= post._id %>" class="heading" >
                        <h3><%= post.title %></h3>  
                      </a> 
                    </div>
                    <div class="post-text">
                      <%- post.preview %>
                    </div>
                    <div class="post-bottom clearfix">
                        <span class="createTime">
                          <%= moment(post.createTime).format('D MMMM YYYY (HH:mm)') %>
                        </span> 
                        <span class="com-count">
                          <i class="fa fa-comments-o"></i>
                          <%= post.commentsCount %>
                        </span>
                    </div>                                  
                  </div>                                  
                  <% if (isOwn) {%>
                    <a class="post-del" href="/profile/<%= post.author %>/post/<%= post._id %>">
                      Удалить
                    </a> 
                  <% } %>                                 
                </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>    
  </body>
</html>