<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <% include ../partials/header %>

      <div class="container h-100">
        <div class="col-md-3">
          <div class="profile-card">
            <div class="profile-avatar">              
              <img src="/img/<%= user.avatar %>" />               
            </div>            
            <h4 class="profile-name"><%= user.username %> @<%= user.nickname %></h4>
            <p>About Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Tenetur officia cumque quo magnam sed dolorem ducimus dignissimos cum adipisci nesciunt nobis voluptatem. </p>
            
            <% if(session.user && session.user.nickname !== user.nickname ) { %>
              <a href="/profile/<%= user.nickname %>/follow" >Подписаться</a>
            <% } %>
          </div>

          <ul class="profile-stats">
            <li>
              <p>Постов:</p> 
              <span><%= user.postsCount %></span>
            </li>
            <li>
              <p>Подписчики:</p> 
              <span>0</span> 
            </li>
            <li>
              <p>Читает:</p> 
              <span>0</span> 
            </li>
          </ul>
        </div> 

        <div class="col-md-9">                  
          <ul class="posts-list">
            <% for(let post of posts) {%>
              <% include ../partials/postItem %>
            <% } %>
          </ul>          
        </div>
      </div>

    <% include ../partials/footer %>
    <% include ../partials/scripts %>    
  </body>
</html>